@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header::before{
    content: "";
    background: url('images/banner.jpg') no-repeat center center/cover; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 6px solid #ddbd7f;
    height: 750px;

}

.container p{
    font-size: 40px;
    padding: 30px 0 10px 0;
    color: #333;
    font-family: 'Playfair Display', serif;
}

.logo-right{
    position: absolute;
    top: 48px;
    right: 50px;
    width: 212px;
    text-align: center;
}

.logo-right p{
    font-family: 'Exo 2', sans-serif;
    color: #fff;
    margin: 12px 0 0;
    font-size: 19px;
    line-height: 22px;
}

/* ----------------First Section-------------- */
.first_section{
    display: flex;
    justify-content: space-around;
    padding: 120px 0 85px 0;
    background-color: #f9f7f7;
}

.first_section .left{
    display: flex;
    flex-direction: column;
}

.first_section .left img{
    width: 625px;
    height: 681px;
}

.first_section .left .image_footer{
    display: flex;
    justify-content: space-between;
    padding: 10px 0 0 0;
    color: #bc8633;
    line-height: 15px;
    font-family: 'Exo 2', sans-serif;
}

.right .heading h2{
    font-size: 35px;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
}

.loc_left{
    display: flex;
    padding: 15px 0;
}

.loc_left img{
    width: 60px;
    height: 60px;
}

.loc_details .first{
    font-size: 30px;
    color: #565656;
    font-family: 'Exo 2', sans-serif;
    line-height: 33px;
}

.loc_details .second{
    font-family: 'Exo 2', sans-serif;
    font-size: 30px;
    color: #bc8633;
    line-height: 33px;
    margin: 0;
}